/server/__pycache__
/server/controllers/__pycache__
/server/migrations/__pycache__
/server/models/__pycache__
/server/migrations/versions/__pycache__
/server/blueprints/__pycache__
/server/blueprints/auth/__pycache__
/server/blueprints/predictions/__pycache__
/server/.venv
/server/venv
/server/blueprints/__pycache__
/server/blueprints/auth/__pycache__
/server/blueprints/user/__pycache__
/server/blueprints/analytics/__pycache__
/server/blueprints/goal/__pycache__
/server/blueprints/expense/__pycache__

# OSX
#
/client/.DS_Store

# Xcode
#
/client/build/
/client/*.pbxuser
/client/!default.pbxuser
/client/*.mode1v3
/client/!default.mode1v3
/client/*.mode2v3
/client/!default.mode2v3
/client/*.perspectivev3
/client/!default.perspectivev3
/client/xcuserdata
/client/*.xccheckout
/client/*.moved-aside
/client/DerivedData
/client/*.hmap
/client/*.ipa
/client/*.xcuserstate
/client/project.xcworkspace

# Android/IntelliJ
#
/client/build/
/client/.idea
/client/.gradle
/client/local.properties
/client/*.iml
/client/*.hprof

# node.js
#
/client/node_modules/
/server/node_modules/
/server/.env/
/client/.env/
/client/npm-debug.log
/client/yarn-error.log

# BUCK
/client/buck-out/
/client/\.buckd/
/client/*.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

/client/*/fastlane/report.xml
/client/*/fastlane/Preview.html
/client/*/fastlane/screenshots

# Bundle artifacts
/client/*.jsbundle

# CocoaPods
/client/ios/Pods/

# Expo
/client/.expo/*
/client/web-build/